<% if (item.link){ %>
  <% if (item.title){ %>
    <h1 class="title"><%= item.title %></a></h1>
  <% } else { %>
    <h1 class="title"><%= item.link %></a></h1>
  <% } %>
<% } else { %>
  <% if (index){ %>
    <h1 class="title"><%= item.title %></a></h1>
  <% } else { %>
    <h1 class="title"><%= item.title %></h1>
  <% } %>
<% } %>