*
  margin 0
  padding 0

body
  background color-background
  webkit-font-smoothing antialiased
  color color-font
  font-family font-default
  font-size 15px
  text-shadow 0 0 1px transparent
  transition transform .25s ease-in-out
  -webkit-transition -webkit-transform .25s ease-in-out
  @media screen and (max-width: 1260px)
    margin 0 30px
  @media screen and (max-width: 600px)
    font-size 13px

h1, h2, h3, h4, h5, h6
  font-family font-title
  font-weight 300

h1
  font-size 2.5em
  color color-link
  margin 20px 0 20px

h2
  font-size 1.7em
  color color-link


h3
  font-size 1.4em
  color #7D7D8E
  font-weight 300


a
  color color-link
  text-decoration none
  &:hover
    color #00719D

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  margin 0 auto
  @media screen and (max-width: 1260px)
    width 100%

#main-col
  width 777px
  margin-left 25.33333%
  @media screen and (max-width: 1260px)
    width 100%
    margin-right -200px
  @media screen and (max-width: 900px)
    margin-right 0
    float none

#wrapper
  @media screen and (max-width: 1260px)
    margin-right 300px
  @media screen and (max-width: 900px)
    margin-right 0